@use './theme.scss';
@use './common.scss' as common;

.calendar {
    @include common.size(60%, 90%);

    .header {
        @include common.size(100%, 7%);
        @include common.flex-row(space-between, baseline);

        .col.col-first {
            @include common.size(80%, 100%);
            @include common.flex-column(center, flex-start);
            margin-left: 1%;

            .text {
                font-size: 0.8em;
            }

            .text.month {
                margin-right: 5px;
                font-size: 1.6em;
                font-weight: 600;
            }
        }

        .col.col-end {
            @include common.size(20%, 100%);
            @include common.flex-row(flex-end, baseline);

            svg {
                @include common.size(11%, fit-content);
                margin-left: 5%;
                color: transparentize(gray, 0.2);

                &:hover {
                    @include common.hover-event();
                    transform: scale(1.15);
                    color: theme.$dark-gray-color;
                }
            }
        }
    }

    .days {
        @include common.size(100%, fit-content);
        @include common.flex-row(space-between, center);
        font-weight: 600;
        font-size: 0.65em;
        padding: 2px;
        color: theme.$dark-gray-color;

        .col {
            @include common.size(12.9%, 100%);
            @include common.flex-column(flex-end, flex-start);
            padding-left: 1%;
            background: transparentize(theme.$step-color, 0.6);
            border-radius: 10px;
        }
    }

    .body {
        @include common.size(100%, 89%);
        @include common.flex-column();

        .row {
            @include common.size(100%, 100%);
            @include common.flex-row(space-between, center);

            .col {
                @include common.size(13.5%, 93%);
                @include common.flex-row(flex-start, flex-start);

                border: 0.4px solid transparentize(gray, 0.4);
                border-radius: 3px;
                font-size: 0.8em;

                span {
                    margin: 4px 0 0 4px;
                }

                .not-valid {
                    color: theme.$gray-color;
                }

                img {
                    opacity: 0.1;
                }
            }

            .col.cell.valid {
                &:hover {
                    @include common.hover-event();
                    @include common.shadow(1.5px, theme.$dark-gray-color, 0.1);
                    transform: scale(1.01);
                    border: none;
                    background: transparentize(theme.$gray-color, 0.5);
                }
            }

            .col.cell.selected {
                @include common.shadow(1.5px, theme.$main-color, 0.1);
                transform: scale(1.02);
                border: none;
                background: theme.$sub-color;
                color: theme.$main-color;
                font-weight: 600;
            }
        }
    }
}