.App {
    font-size: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App .control {
    display: flex;
    flex-direction: row;
}

.App table {
    display: flex;
    width: 50vw;
    height: 50vh;
    justify-content: center;
}

.App table tbody {
    display: flex;
    flex-direction: column;
}

.App tr {
    display: flex;
    flex-direction: row;
}

.App td {
    display: flex;
    border: 1px solid gray;
    width: 5vw;
    height: 5vh;
}

.App td span {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}