:root{
  --main-blue: #003d91;
  --sub-blue: rgb(16,46,108);
  --main-color: #0312A3;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}